<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".ui.DebugTriggerActivity" android:exported="true" android:permission="android.permission.DUMP" />
        <receiver android:name=".ui.DebugTriggerReceiver" android:exported="true" android:permission="android.permission.DUMP" />
        <receiver android:name=".ui.DebugCameraNotificationReceiver" android:exported="true" android:permission="android.permission.DUMP" />
    </application>
</manifest>
